@use "./_mixins.scss" as *;

:root {
  /******** Global Var ********/
  --gap-layout--home: 80px;
  --gap-layout--other: 140px;
  --gap-navbar: 100px;
  --gap-menu: 40px;
  --gap-footer: 40px;
  --header-padding-bottom: 200px;
  --profile-pic-size: 250px;
  --margin-page: 30px;

  --font-size-very-small: 12px;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-big: 20px;
  --font-size-very-big: 50px;

  @include small-desktop {
    --gap-layout--other: 50px;
    --gap-footer: 10px;
    --gap-menu: 20px;
    --header-padding-bottom: 80px;
    --profile-pic-size: 150px;
    --font-size-very-small: 10px;
    --font-size-small: 12px;
    --font-size-normal: 14px;
    --font-size-big: 18px;
    --font-size-very-big: 25px;
  }

  @include mobile {
    --gap-navbar: 20px;
    --gap-layout--home: 0px;
    --profile-pic-size: 120px;
  }

  /** By default dark theme **/
  --bg-body-color: #232020;
  --gradient-rgba: 35,
  32,
  32;
  --color-1: #f7f2f2;
  --color-1-variant: #bebebe;
  --color-2: #b454f1;
  --color-3: rgb(83, 83, 83);

  /** If color scheme to light **/
  @media (prefers-color-scheme: "light") {
    --bg-body-color: #eef2f7;
    --gradient-rgba: 238, 242, 247;
    --color-1: #030303;
    --color-1-variant: #575656;
    --color-3: rgb(255, 253, 253);
  }

  /******** End Global Var ********/

  /******** Code Scheme ********/
  --code-default: #a8a8a2;
  --code-default-hover: #cacac9;
  --code-literal: #6896ba;
  --code-literal-hover: #72aad4;
  --code-selector: #a6e22e;
  --code-selector-hover: #b9f345;
  --code-variable: #cb7832;
  --code-variable-hover: #e08d49;
  --code-params: #b9b9b9;
  --code-params-hover: #cacac9;
  --code-string: #6a8759;
  --code-string-hover: #7ea06a;
  --code-addition: #e0c46c;
  --code-addition-hover: #f5da81;
  --code-meta: #7f7f7f;
  --code-meta-hover: #919090;

  @media (prefers-color-scheme: "light") {
    --code-default: #524f4f;
    --code-default-hover: #000000;
    --code-literal-hover: #2c4db9;
    --code-selector-hover: #38d10a;
    --code-variable-hover: #f36d00;
    --code-params: #524f4f;
    --code-params-hover: #000000;
    --code-string-hover: #299707;
    --code-addition-hover: #eec302;
    --code-meta-hover: #312f2f;
  }

  /******** End Code Scheme ********/
}