@use "../../../styles/mixins" as *;

.header {
  padding-bottom: var(--header-padding-bottom);
}

.group {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  @include small-desktop { display: none}
}
