.contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 100px;
  background: linear-gradient(
    20deg,
    rgba(var(--gradient-rgba), 1) 0%,
    rgba(var(--gradient-rgba), 1) 53%,
    rgba(var(--gradient-rgba), 0.3) 80%
  );
  z-index: 1;
}
