@use "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-body-color);
  color: var(--color-1);
}

.layout {
  display: flex;

  &--home {
    @extend .layout;
    justify-content: center;
    align-items: center;
    gap: var(--gap-layout--home);
  }

  &--hover {
    @extend .layout;
    justify-content: space-between;
  }
}

.flex {
  display: flex;
}