@use "./variables";
@use "./mixins" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-body-color);
  color: var(--color-1);
}

a {
  text-decoration: none;
  font-size: var(--font-size-big);
  color: var(--color-1-variant);

  &:hover {
    color: var(----color-1);
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.layout {
  display: flex;

  &--home {
    @extend .layout;
    justify-content: center;

    .flex {
      gap: var(--gap-layout--home);
    }
  }

  &--other {
    @extend .layout;
    justify-content: center;
    gap: var(--gap-layout--other);

    @include small-desktop {
      flex-direction: column;
      align-items: center;
    }

    .flex {
      justify-content: flex-end;
      flex: 1;

      min-height: 450px;
      max-height: 450px;
      max-width: 600px;

      @include small-desktop {
        justify-content: center;
        min-height: 0px;
      }

      &:last-child {
        margin-right: var(--margin-page);
        @include small-desktop {
          margin-left: var(--margin-page);
        }
        flex-direction: row-reverse;
      }
    }
  }
}
