* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #232020;
  color: #FFFFFF;
}

.layout {
  display: flex;

  &--home {
    @extend .layout;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }

  &--hover {
    @extend .layout;
    justify-content: space-between;
  }
}

.flex {
  display: flex;
}