.button {
	background-color: transparent;
	border: 1px solid #43D9AD;
	border-radius: 8px;
	font-size: var(--font-size-normal);
	color: var(--color-1);
	opacity: 0.8;
	cursor: pointer;

	&:hover {
		opacity: 1.0;
	}
}