.mugcoffee {
  filter: drop-shadow(-30px 15px 11px rgba(0, 0, 0, 0.7));

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotate(50deg);
  cursor: pointer;
}

.mug {
  height: inherit;
  width: inherit;
  position: absolute;
  left: 5.5%;
  z-index: 2;
}
